.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.pt-40 {
  padding-top: 40px;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 12px 50px;
}
.cart__list {
  margin-top: 32px;
}
.cart__list .cart-title b, .cart__list--attach .cart-title b {
  color: #d73831;
}
.cart__list .cart-title, .cart__list--attach .cart-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221f20;
}
.cart__list .cart-title b, .cart__list--attach .cart-title b {
  color: #d73831;
}
b, strong {
  font-weight: bolder;
}
.cart__list .cart__table, .cart__list--attach .cart__table--attach {
  margin-top: 38px;
  width: 100%;
  border-collapse: collapse;
}
.cart__list .cart__table thead, .cart__list--attach .cart__table--attach thead {
  border-bottom: 1px solid #e7e8e9;
}
.cart__table tr {
  position: relative;
}
.cart__list .cart__table thead th, .cart__list--attach .cart__table--attach thead th {
  padding-bottom: 24px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #6c6d70;
}
.cart__list .cart__table tbody tr, .cart__list--attach .cart__table--attach tbody tr{
  border-bottom: 1px solid #e7e8e9;
  
}
.cart-page .cart__table th, .checkout .cart__list .cart__table thead th {
  text-transform: uppercase;
}
.cart__list .cart__table th, .cart__list .cart__table td, .cart__list--attach .cart__table--attach th, .cart__list--attach .cart__table--attach td {
  vertical-align: top;
  padding: 0 16px;
}
.cart__list .cart__table th:first-child, .cart__list .cart__table td:first-child, .cart__list--attach .cart__table--attach th:first-child, .cart__list--attach .cart__table--attach td:first-child {
  text-align: left;
  width: auto;
  padding-left: 0;
}
.cart__list .cart__table th:nth-child(2), .cart__list .cart__table td:nth-child(2), .cart__list--attach .cart__table--attach th:nth-child(2), .cart__list--attach .cart__table--attach td:nth-child(2) {
  width: 120px;
}

.cart__list .cart__table th:nth-child(3), .cart__list .cart__table td:nth-child(3), .cart__list--attach .cart__table--attach th:nth-child(3), .cart__list--attach .cart__table--attach td:nth-child(3) {
  width: 176px;
}
.cart__list .cart__table th:nth-child(4), .cart__list .cart__table td:nth-child(4), .cart__list--attach .cart__table--attach th:nth-child(4), .cart__list--attach .cart__table--attach td:nth-child(4) {
  width: 144px;
  height: 48px;
}
.cart__list .cart__table td:nth-child(2), .cart__list--attach .cart__table--attach td:nth-child(2) {
  width: 120px;
  line-height: 48px;
  text-align: left;
}
.cart__product-item {
  display: flex;
  margin-top:20px;
  margin-bottom: 20px;
}
.cart__product-item__img {
  flex: 0 0 150px;
  max-width: 150px;
}
.cart__product-item__img a {
  padding-top: 143.3333333333%;
  display: block;
  position: relative;
}
.cart__product-item__img img {
  width: 100%;
  object-fit: cover;
  /* -o-object-position: center; */
  object-position: center;
  top:0;
  left:0;
  height: 100%;
  position: absolute;
}
.cart__product-item__content {
  flex: 0 0 366px;
  max-width: 250px;
  padding-left: 16px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}
.cart__product-item__content h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #6c6d70;
}
.cart__product-item__properties {
  margin-top: 16px;
  width: 100%;
  display: flex;
}
.cart__product-item__properties p {
  white-space: normal;
  font-size: 14px;
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 14px;
  line-height: 24px;
  color: #6c6d70;
  margin-bottom: 0;
  white-space: nowrap;
  
}
.cart-page .cart__product-item__properties p:first-child {
  max-width: 154px;
}

.cart-price p {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
 
}
.cart__list .cart__table .product-detail__quantity-input{
    width: 144px;
    height: 48px;
}
.cart__list .cart__table .product-detail__quantity-input input, .cart__list--attach .cart__table--attach .product-detail__quantity-input input {
  margin-top: 20px;
  width: 100px;
  text-align: center;
  left: 0;
  height: 20px;
  border-radius: 16px 0px;
  padding: 0 30px 0 40px;
  color: #221f20;
}
.cart__list .cart__table .cart__product-item__price, .cart__list--attach .cart__table--attach .cart__product-item__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  color: #3e3e3f;
  margin-top: 5px;
}
.cart__list .cart__table tbody td:last-child ion-icon {
  cursor: pointer;
  line-height: 48px;
  font-size: 20px;
  color: #221f20;
  transition: 0.3s all ease-in-out;
  margin-top: 20px;
}
.cart-page .btn-cart-continue {
  max-width: 250px;
}
.cart-page .btn-cart-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 24px;
  background: #ffffff;
  border: 1px solid #221f20;
  box-sizing: border-box;
  border-radius: 16px 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #221f20;
  max-width: 226px;
  height: 52px;
  margin-top: 32px;
  text-transform: initial;
  transition: 0.3s ease-in-out;
}
.cart-page .btn-cart-continue:hover{
  background:#221f20 ;
  border: 1px solid #ffffff ;
  color:#ffffff;
}
.col-lg-4{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.cart-summary__overview .cart-summary__overview__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-summary {
  max-width: 390px;
  width: 100%;
  margin-left: auto;
  padding: 22px;
  background: rgba(247, 248, 249, 0.5);
}

.cart-summary__note {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Montserrat';
  color: #AC2F33;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E8E9;
  margin-bottom: 10px;
}

.left-inner-note {
  width: 20px;
  font-size: 20px;
}
.content-inner-note {
  width: calc( 100% - 20px );
  padding-left: 10px;
}
.inner-note p {
  margin-bottom: 16px;
}

.col-lg-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.cart-page .cart-summary__button {
  margin-bottom: 10px;
  margin-left: 35px;
}
.cart-page__col-summary .cart-summary__button {
  padding-top: 0;
}
.cart-summary__button {
  padding-top: 25px;
  background-color: white;
}
.cart-summary__button .order {
  max-width:390px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid transparent;
}
 
.order {
  padding: 12px 24px;
  /* max-width:390px; */
  border-radius: 16px 0px;
  font-size: 16px;
  line-height: 24px;
  background-color: #221f20;
  color: #f7f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.order:hover{
  background-color:#f7f8f9 ;
  color:#221f20 ;
  border:1px solid #221f20 !important;
}



