.product-detail{
  padding-left:100px;
  width: 100%;
  display: block;
}
.product-content-left {
  width: 50%;
  
}
.row{
  margin-right:0px !important;
  margin-left:0px !important;
}
.product-content-left-big-img{
  width:80%;
  padding-right: 20px;
}
.product-content-left-big-img img{
  width:100%;
}
.product-content-left-small-img{
  width:20%;
}
.product-content-left-small-img img{
  width:100%;
  vertical-align:unset !important;
}
.product-content-right{
  width: 50%;
  padding-left: 20px;
}
.product-detail-price,.product-detail-color,.product-detail-quantity{
  margin-top:24px;
}

.list-color label{
  margin-right: 10px;
}
.product-detail-size{
  margin-top: 24px;
}
.product-detail-size label{
  /* display: inline-flex; */
  cursor: pointer;
}
.product-detail-size label input[type="radio"]{
  /* margin: 0; */
  visibility: hidden;
  box-sizing: border-box;
  padding: 0;
  margin-left: 10px;
}
.product-detail-size label input[type=radio]:checked ~ span{
  border: 1px solid #221f20;
  color: #221f20;
}

.product-detail-size label span{
  width: 48px;
  height: 32px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e8e9;
}
.product-detail-quantity .product-detail-quantity-input{
    width: 300px;
    position: relative;
    height: 48px;
    margin-left: 16px
} 
input[type="number"]{
  border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #57585A;
    font-family: 'Montserrat', sans-serif;
}
.product-detail-quantity .product-detail-quantity-input input{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px 0px;
    padding-left: 20px;
}
.product-detail-action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
}
.product-detail-action button{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  max-width: 190px;
}
.btn--large{
  padding: 12px 24px;
  border-radius: 16px 0px;
  font-size: 16px;
  line-height: 24px;
  background-color: #221f20;
  color: #f7f8f9;
  border: 1px solid transparent;
}
.btn--outline {
  background-color: white;
  border: 1px solid #221f20;
  color: #221f20;
}
.product-detail-action button:hover{
  color: #212529;
  text-align: center;
  background: transparent;
  border: 1px solid #221f20;
}
.product-detail-action .buy-now{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  margin-left: 24px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  max-width: 150px;
  padding: 12px 24px;
  border-radius: 16px 0px;
  font-size: 16px;
  line-height: 24px;
  background-color:transparent ;
  color: #221f20;
  border: 1px solid #221f20;
  text-align: center;
}
.product-detail-action .buy-now:hover{
  color: #f7f8f9 ;
  text-align: center;
  background: #212529;
  border: 1px solid #221f20;
}
.product-detail-description{
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #dddddd;
  position: relative;
  display: block;
  width: 100%;
}
.product-detail-description-top{
  position:absolute;
  width:30px;
  height:30px;
  border:1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  background-color: #fff;
  top: -15px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}
.product-detail-description-title{
  border-bottom: 1px solid #dddddd;
  
}
.product-detail-description-title-item{
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-detail-description-title-item p{
  font-family: var(--main-text-font-family);
}
.product-detail-description-content{
  padding-top: 30px;
}
.product-detail-description-content {
  font-family: var(--main-text-font-family);
  font-size: 12px;
}
.product-detail-description-content-baoquan{
  display: none;
}
.active-detail{
  display: none;
}
.product-same{
 
  margin-left: -40px;
  margin-top:100px;
}
 .item{
  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top:50px;
  margin-bottom:50px;
}

 .item .product img{
  width:100%;
}
.add-to-cart a{
  bottom: 0;
  right: 0;
  background: #221F20;
  border-radius: 8px 0;
  font-size:14px;
  width: 100%;
  height: 32px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.add-to-cart a:hover{
  color: #221F20;
    background: #fff;
    border: 1px solid #221F20;
}
.product {
  position: relative;
  /* Thêm bất kỳ CSS mà bạn muốn áp dụng cho sản phẩm */
  /* Ví dụ: width, height, margin, padding, border, box-shadow, v.v. */
}

/* Hiệu ứng hover */
.product:hover .thumbnail img {
  transform: scale(1.1);
  transition: 0.3s;
  /* Bất kỳ hiệu ứng CSS khác khi hover vào sản phẩm */
}


/* css color */
.color-options {
  display: flex;
  /* justify-content: space-between; */
}

.color-options label {
  display: block;
  text-align: center;
  width: auto;
  cursor: pointer;
}

.color-options input[type="radio"] {
  display: none; /*Ẩn input radio mặc định*/
}
.color-options label {
  border: 1px solid #e7e8e9; /* Border cho size được chọn */
  font-weight: bold; /* Tên size được chọn đậm lên */
}
.color-options label.selected {
  border: 2px solid #000; /* Border cho size được chọn */
  font-weight: bold; /* Tên size được chọn đậm lên */
}
/* css size */
.size-options {
  display: flex;

}

.size-options label {
  display: block;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.size-options input[type="radio"] {
  display: none; /*Ẩn input radio mặc định*/
}
.size-options label {
  border: 1px solid #e7e8e9; /* Border cho size được chọn */
  font-weight: bold; /* Tên size được chọn đậm lên */
}
.size-options label.selected {
  border: 2px solid #000; /* Border cho size được chọn */
  font-weight: bold; /* Tên size được chọn đậm lên */
}
